#meny {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 82.6%;
    color: white;
    font-size: 1.4em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;


}
    
    #tittel {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 17.4%;
    color: #FFFFFF;
    text-shadow: 2px 2px rgba(15, 13, 13, 0.70);
    font-size: 1.3em;
    background-image: url("pattern3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    font-family: trench;
    letter-spacing: 5px;
    
    }
    
    #innhold {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 75%;
        background: url("pattern13.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        color: #FFFFFF;
        font-size: 1.5em;
        background-position: top;
        background-color: white;
        background-blend-mode: hard-light;
       
    }
    #bunn {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 14%;
        background-image: url("pattern3.png");
        background-size: cover;
        background-repeat: no-repeat;
        
    }
   
    
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.95);
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 68.5px;
        text-decoration: none;
    }
    
    li a:hover:not(.active) {
        background-color: #111;
        color: grey;
        transition: .5s ease-out;

    }
    
    .active {
        color: silver;
    }

.clsFirstImg {
    width: 110px;
    position: relative;
    top: 25%;
    left: 25%;

}

.clsSecondImg {
    width: 45px;
    position: absolute;
    top: 25%;
    left: 50%;

}

.clsThirdImg {
    width: 45px;
    position: absolute;
    top: 10%;
    left: 75%;

}

@font-face {
    font-family: trench;
    src: url("trench.ttf");
}



div.gallery {
    margin: 5px; 
    border: 1px solid #ccc; 
    float: left; 
    width: 180px; 
    position: absolute; 
    left: 84%; 
    bottom: 35%; 
    color: white;
} 

div.gallery:hover { 
    border: 1px solid #777; 
    background-image: url("click.png") 
} 

div.gallery img {
    width: 100%; 
    height: auto; 
} 

div.desc { 
    padding: 15px; 
    text-align: center; 
}

h2 {
    position: absolute;
    left: 4.55%;
    color: white;
}

div.video {
    float: left; 
    width: 180px; 
    position: absolute; 
    left: 36.5%; 
    bottom: 20.5%; 
    color: white;

}

table {
    position: absolute;
    bottom: 23.5%;
    left: 6%;     
    text-align: center;
    color: white;
    border: 2px solid white;
    border-collapse: collapse;

    
}

td, th {
    padding: 15px;
    border-bottom: 2px solid white;
    border-collapse: collapse;
    color: white;
}

td {
    text-align: left;
    border-bottom: 2px solid white;
    border-collapse: collapse;
    color: white;
}

th {
    background: #656060;
}


