:root {
    --link-bg: rgb(255, 0, 0);
    --heading: darkcyan;
}

#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul li a {
    display: block;
    position: relative;
    width: 20em;
    height: 2em;
    background: var(--link-bg);
    border: 1px solid rgb(0, 0, 0);
    padding: 0.1em;
    padding-top: 0.8em;
    margin: 0.3em;
    text-align: center;
    border-radius: 0.5em;
    color: whitesmoke;
}

ul li a:after {
    position: absolute;
    right: 1.2em;
    top: 0.5em;
}

ul li {
    display: block;
}

h4 {
    color: var(--heading);
    display: block;
    width: 20em;
    margin:1em;
    margin-left: 0.5em;
    text-align: center;
}

a {
    text-decoration: none;
}

.button1 {
    position: absolute;
    bottom: 9%;
    right: 3%;
    display: inline-block;
    outline: 0;
    padding: 3px 6px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 15px;
    border: 1px solid #000000;
    font-family: Verdana,sans-serif;
    background-color: red;
}

.button1:hover {
    color: #000!important;
    background-color: #fff!important;
    box-shadow: 5px 5px 2.5px #888888;

}

.button2 {
    position: absolute;
    bottom: 9%;
    right: 82.5%;
    display: inline-block;
    outline: 0;
    padding: 3px 6px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 15px;
    border: 1px solid #000000;
    font-family: Verdana,sans-serif;
    background-color: red;

}

.button2:hover {
    color: #000!important;
    background-color: #fff!important;
    box-shadow: 5px 5px 2.5px #888888;

}