body {
    background: white;
    width: 100%;
    height: 100%;
    margin: 0;
}

h1 {
    position: absolute;
    top: -6px;
    left: 20px;
    font-family: Astrolab;
}

#meny {
	top: 0;
    position: absolute;
    width: 100%;
    height: 10%;
    background: black;
    color: white;
}

ul {
    z-index: 99;
    position: relative;
    padding-top: 20px;
    margin: 0px;
    list-style: none;
}

ul li {
    position: relative;
    left: 300px;
    float: left;
    width: 140px;
    height: 40px;
    background: black;
    line-height: 40px;
    text-align: center;
    font-family: Astrolab;
    margin-bottom: 5px;
    font-size: 0.9em;
}

ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

ul li a:hover {
    border-bottom: 5px solid rgb(253, 54, 54);
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
    position: relative;
    left: -40px;
    top: -10px;
}

span {
    color: rgb(253, 54, 54);
}

@font-face {
    font-family: Astrolab;
    src: url("../fonts/Astrolab.ttf");
}

@font-face {
    font-family: Xolonium-Bold;
    src: url("../fonts/Xolonium-Bold.ttf");
}

.active {
    background: rgb(253, 54, 54);
}

#produkter {
    position: relative;
    width: 95vw;
    height: 100vh;
    top: 200px;
    padding-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 250px;
    grid-auto-rows: minmax(50px, auto);
    grid-column-gap: 100px;
}

div h2 {
	position: relative;
	left: 10%;
	top: 100%;
    font-family: Xolonium-Bold;
    z-index: 99;

}

#produkter div {
    position: relative;
    width: 200px;
    height: 150px;
    background-image: url("../bilder/pcgta.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    left: 50px;
}

#produkter div:nth-child(2) {
    background-image: url("../bilder/ps4gta.jpg");
}

#produkter div:nth-child(3) {
    background-image: url("../bilder/xboxgta.jpg");
}

#produkter div:nth-child(4) {
    background-image: url("../bilder/pcorigins.jpg");
}

#produkter div:nth-child(5) {
    background-image: url("../bilder/ps4origins.jpg");
}

#produkter div:nth-child(6) {
    background-image: url("../bilder/xboxorigins.jpg");
}

#produkter div:nth-child(7) {
    background-image: url("../bilder/pcww2.jpg");
}

#produkter div:nth-child(8) {
    background-image: url("../bilder/ps4ww2.jpg");
}

#produkter div:nth-child(9) {
    background-image: url("../bilder/xboxww2.jpg");
}

#produkter div:nth-child(10) {
    background-image: url("../bilder/fm18.jpg");
}

#produkter div:nth-child(11) {
    background-image: url("../bilder/ps4fifa18.jpg");
}

#produkter div:nth-child(12) {
    background-image: url("../bilder/xboxfifa18.jpg");
}

article img {
    position: absolute;
    top: 16%;
    left: 10vw;
}

article img:nth-child(2) {
    position: absolute;
    top: 10%;
    left: 41.5vw;
}

article img:nth-child(3) {
    position: absolute;
    top: 16%;
    left: 73.2vw;
}


#m2 img {
    position: absolute;
    top: 10px;
    left: 92vw;

}

#produkter a {
    text-decoration: none;
    color: black;
}

#produkter a:hover {
    color: #fb2525;
}

#produkter div:nth-child(2):hover {
    background: rgb(253, 54, 54);
    background-image: url("../bilder/utsolgt.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
}

#produkter div:nth-child(5):hover {
    background: rgb(253, 54, 54);
    background-image: url("../bilder/utsolgt.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
}

#produkter div:nth-child(7):hover {
    background: rgb(253, 54, 54);
    background-image: url("../bilder/utsolgt.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
}

#produkter div:nth-child(3):hover {
    background: rgb(253, 54, 54);
    background-image: url("../bilder/utsolgt.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
}

#produkter div:nth-child(10):hover {
    background: rgb(253, 54, 54);
    background-image: url("../bilder/utsolgt.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
}

#produkter div:nth-child(12):hover {
    background: rgb(253, 54, 54);
    background-image: url("../bilder/utsolgt.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
}

h1 a {
    text-decoration: none;
    color: white;
}