#search input {
    position: absolute;
    left: 75%;
    top: 3%;
    z-index: 99;
    width: 200px;
    height: 30px;
    border: solid #fb2525 2px;
}

#resultat {
    position: absolute;
    left: 72%;
    top: 17%;
    z-index: 99;
}