body {
    background: white;
    width: 100%;
    height: 100%;
    margin: 0;
}

h1 {
    position: absolute;
    top: -6px;
    left: 20px;
    font-family: Astrolab;
}

#meny {
	top: 0;
    position: absolute;
    width: 100%;
    height: 10%;
    background: black;
    color: white;
}

ul {
    z-index: 99;
    position: relative;
    padding-top: 20px;
    margin: 0px;
    list-style: none;
}

ul li {
    position: relative;
    left: 300px;
    float: left;
    width: 140px;
    height: 40px;
    background: black;
    line-height: 40px;
    text-align: center;
    font-family: Astrolab;
    margin-bottom: 5px;
    font-size: 0.9em;
}

ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

ul li a:hover {
    border-bottom: 5px solid rgb(253, 54, 54);
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
    position: relative;
    left: -40px;
    top: -10px;
}

span {
    color: rgb(253, 54, 54);
}

@font-face {
    font-family: Astrolab;
    src: url("../fonts/Astrolab.ttf");
}

@font-face {
    font-family: Xolonium-Bold;
    src: url("../fonts/Xolonium-Bold.ttf");
}

.active {
    background: rgb(253, 54, 54);
}

#produkter {
    position: relative;
    width: 95vw;
    height: 100vh;
    top: 200px;
    padding-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    grid-auto-rows: minmax(50px, auto);
    grid-column-gap: 100px;
}

div h2 {
	position: relative;
	left: 19%;
	top: 100%;
	font-family: Xolonium-Bold;

}

#produkter div {
    position: relative;
    width: 210px;
    height: 150px;
    background-image: url("../bilder/MasterKeys.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
}

#produkter div:nth-child(2) {
    background-image: url("../bilder/gpro.jpg");
}

#produkter div:nth-child(3) {
    background-image: url("../bilder/bw chroma.jpg");
}

#produkter div:nth-child(4) {
    background-image: url("../bilder/rapidfire.jpg");
}

#produkter div:nth-child(5) {
    background-image: url("../bilder/masterkeys2.jpg");
}

#produkter div:nth-child(6) {
    background-image: url("../bilder/prodigy.jpg");
}

#produkter div:nth-child(7) {
    background-image: url("../bilder/bw stealth.jpg");
}

#produkter div:nth-child(8) {
    background-image: url("../bilder/k55.jpg");
}

#produkter div:nth-child(9) {
    background-image: url("../bilder/lite.jpg");
}

#produkter div:nth-child(10) {
    background-image: url("../bilder/orion.jpg");
}

#produkter div:nth-child(11) {
    background-image: url("../bilder/ornata.jpg");
}

#produkter div:nth-child(12) {
    background-image: url("../bilder/lux.jpg");
}

article img {
    position: absolute;
    top: 14%;
    left: 4vw;
}

article img:nth-child(2) {
    position: absolute;
    top: 14%;
    left: 29vw;
}

article img:nth-child(3) {
    position: absolute;
    top: 15%;
    left: 53vw;
}

article img:nth-child(4) {
    position: absolute;
    top: 14%;
    left: 77.5vw;
}

#produkter div:hover + #text {
	display: block;
	

}

#text {
	background: red;
	display: none;
	
}

#m2 img {
    position: absolute;
    top: 10px;
    left: 92vw;

}